.app__aboutus {
  position: relative;
  background: var(--color-black);
}

.app__aboutus-overlay {
  position: absolute;
  inset: 0;
}

.app__calender-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  /* letter-spacing: 0.04em; */
  text-transform: uppercase;
  /* line-height: 40px;
  font-size: 20px; */
}

.app__aboutus-overlay img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.app__aboutus-content {
  width: 100%;
  z-index: 2;
  flex-direction: column;
  text-align: center;
}

.app__aboutus-content_about {
  flex: 1;
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 0.3rem;
  color: var(--color-golden);
}

.grid_left {
  text-align: right;
  font-weight: 1000;
}

.grid_right {
  text-align: left;
}

.app__aboutus-content_knife {
  margin: 2rem 4rem;
}

.app__aboutus-content_knife img {
  height: 910px;
}

.app__aboutus-content_history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
  margin: 2rem 0;
  color: var(--color-grey);
}

.p__opensans_calender {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  font-style: under;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
}

@media screen and (min-width: 2000px) {
  .app__aboutus-content_knife img {
    height: 1110px;
  }

  .app__aboutus-content_about p,
  .app__aboutus-content_history p {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .app__aboutus-content {
  }

  .app__aboutus-content_knife {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .app__aboutus-overlay img {
    width: 80%;
    height: 320px;
  }
}
