#tuition .app__tuition-content {
  background-color: var(--color-black);
  padding: 2rem;
  border-radius: var(--border-radius);
  flex: 0.6;
}

@media screen and (max-width: 950px) {
  #tuition .app__tuition-content {
    flex: 0.9;
  }
}
